<ion-side-menu side="left">
    <ion-content scroll="false">
        <ion-list>
            <ion-item class="profile">
                <img src="images/user-icon.png" alt="">
                <h2>Jacinto Artemon Rodríguez</h2>
                <small>JARRO</small>
            </ion-item>
            <!--<ion-item ng-click="close()" ui-sref="app.profile">Perfil</ion-item>-->
            <ion-item ng-click="close()" ui-sref="app">Listado de Tareas</ion-item>
            <ion-item ng-click="close()" ui-sref="app">Tareas Terminadas</ion-item>
            <ion-item ng-click="close()" ui-sref="app">Tareas Pendientes</ion-item>
            <ion-item ng-click="close()" ui-sref="app">Tareas Incompletas</ion-item>
            <!--<ion-item ng-click="close()">Mis Calificaciones</ion-item>-->
            <ion-item ng-click="endSesion()">Cerrar Sesión</ion-item>
        </ion-list>
    </ion-content>
</ion-side-menu>