<ion-header-bar class="bar-dark" align-title="center">
    <button class="button button-icon" ng-click="toggleMenu()">
        <i class="icon ion-navicon"></i>
    </button>
</ion-header-bar>
<ion-content>
    <div class="list card">
        <div class="item item-image">
            <img ng-src="{{pictureUrl[0]}}">
        </div>
        <div class="padding">
            <button class="button button-block button-calm" ng-click="takePicture()">Take Picture</button>
        </div>
    </div>
    <div class="list card">
        <div class="item">
            <p>{{task.descripcion}}</p>
            <p>{{task.ubicacion[0].comuna}}, Nodo: {{task.ubicacion[0].nodo}}, Cuadrante: {{task.ubicacion[0].cuadrante}}</p>
            <p>{{task.hora_creacion}}</p>
        </div>
    </div>
    <div class="list">
        <label class="item item-input item-stacked-label">
            <span class="input-label">Solución</span>
            <input type="text" placeholder="Solución 1" ng-model="details.solucion">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Detalle</span>
            <textarea placeholder="Detalles de la solución aquí" ng-model="details.detalle"></textarea>
        </label>
    </div>

    <div class="list card">
        <div class="item">
            <p>Estado actual de la tarea</p>
            <div class="button-bar">
                <a ng-class="checkStatus(task.estado) ?  'button button-stable' : 'button button-assertive'" ng-click="changeStatus('P')">Pendiente</a>
                <a ng-class="checkStatus(task.estado) == 3 ?  'button button-energized' : 'button button-stable'" ng-click="changeStatus('I')">Incompleto</a>
                <a ng-class="checkStatus(task.estado) == true ?  'button button-balanced' : 'button button-stable'" ng-click="changeStatus('T')">Terminado</a>
            </div>
        </div>
    </div>
    <div class="padding">
        <button class="button button-block button-royal" ng-click="save()">Guardar Cambios</button>
    </div>

</ion-content>
